<html>
<head>
    <title>Web Event Notifier</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container" style='min-height:800px;'>
    
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='logo-link' href='/'>Event Notifier</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li  class="active" ><a href="/">Notifications</a></li>
        <li class="dropdown{% if 'data.page' == 'new' %} active {% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New URLs <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href='/new'>New URLs</a></li>
                <li><a href='/diff'>Web Notifications</a></li>
            </ul>
        </li>

        
        
        
      </ul>
    </div>
  </div>
</nav>
{% block body %}{% endblock %}

<!-- tailer -->
<style type="text/css">
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
  }
</style>
